@charset "UTF-8";
/* line 3, main.scss */
body {
  font-family: 'karbonregular';
}

@font-face {
  font-family: 'Conv_Ubuntu-Light';
  src: url("../fonts/Ubuntu-Light/Ubuntu-Light.eot");
  src: local("Γÿ║"), url("../fonts/Ubuntu-Light/Ubuntu-Light.woff") format("woff"), url("../fonts/Ubuntu-Light/Ubuntu-Light.ttf") format("truetype"), url("../fonts/Ubuntu-Light/Ubuntu-Light.svg") format("svg");
  font-style: normal;
}
@font-face {
  font-family: 'karbonregular';
  src: url("../fonts/karbon/karbon-regular-webfont.eot");
  src: url("../fonts/karbon/karbon-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/karbon/karbon-regular-webfont.woff") format("woff"), url("../fonts/karbon/karbon-regular-webfont.ttf") format("truetype"), url("../fonts/karbon/karbon-regular-webfont.svg#karbonregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'karbonmedium';
  src: url("../fonts/karbon_medium/karbon-medium-webfont.eot");
  src: url("../fonts/karbon_medium/karbon-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/karbon_medium/karbon-medium-webfont.woff2") format("woff2"), url("../fonts/karbon_medium/karbon-medium-webfont.woff") format("woff"), url("../fonts/karbon_medium/karbon-medium-webfont.ttf") format("truetype"), url("../fonts/karbon_medium/karbon-medium-webfont.svg#karbonmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 45, main.scss */
h1, h2, h3 {
  font-family: 'Cinzel', serif;
}

/* @media (min-width: 1200px){
.container {
  width: 960px!important;
}
} */
/* line 54, main.scss */
#hideAll {
  text-align: center;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #fff;
  z-index: 111;
  /* Higher than anything else in the document */
}

/* line 68, main.scss */
.nirmala-load svg {
  width: 700px;
  height: 900px;
}

/* line 70, main.scss */
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 100;
  -webkit-animation: dash 8s ease-in alternate;
  -moz-animation: dash 8s ease-in alternate;
  -oo-animation: dash 8s ease-in alternate;
  animation: dash 8s ease-in alternate;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-oo-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@media (max-width: 676px) {
  /* line 114, main.scss */
  .nirmala-load svg {
    width: 300px;
    height: 600px;
  }
}
/* line 116, main.scss */
#nirmala_top_header {
  position: absolute;
  z-index: 100;
  background-color: #392315;
  width: 282px;
  height: 572px;
  border: none;
}
/* line 118, main.scss */
#nirmala_top_header .navbar-header {
  float: none;
  text-align: center;
  margin: 14px 0px 54px 0px;
}
/* line 120, main.scss */
#nirmala_top_header #navbar {
  padding: 0px;
}
/* line 122, main.scss */
#nirmala_top_header .nav {
  width: 100%;
}
/* line 124, main.scss */
#nirmala_top_header .home :after {
  content: "Welome";
  position: absolute;
  padding-left: 81px;
  z-index: 100;
  bottom: 0px;
  font-family: 'karbonregular';
  left: 0px;
  font-size: 10px;
  color: #868686;
}
/* line 126, main.scss */
#nirmala_top_header .booking :after {
  content: "Rates";
  position: absolute;
  padding-left: 81px;
  z-index: 100;
  bottom: 0px;
  font-family: 'karbonregular';
  left: 0px;
  font-size: 10px;
  color: #868686;
}
/* line 127, main.scss */
#nirmala_top_header .photo :after {
  content: "View our Functions";
  position: absolute;
  padding-left: 81px;
  z-index: 100;
  bottom: 0px;
  font-family: 'karbonregular';
  left: 0px;
  font-size: 10px;
  color: #868686;
}
/* line 128, main.scss */
#nirmala_top_header .reserve :after {
  content: "Get in Touch";
  position: absolute;
  padding-left: 81px;
  z-index: 100;
  bottom: 0px;
  font-family: 'karbonregular';
  left: 0px;
  font-size: 10px;
  color: #868686;
}
/* line 129, main.scss */
#nirmala_top_header .contact :after {
  content: "Rates and Renovations";
  position: absolute;
  padding-left: 81px;
  z-index: 100;
  bottom: 0px;
  font-family: 'karbonregular';
  left: 0px;
  font-size: 10px;
  color: #868686;
}
/* line 131, main.scss */
#nirmala_top_header .nav li:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(83, 54, 34, 0.42);
  position: absolute;
  box-shadow: 0px 0px 7px 1px #362114;
}
/* line 135, main.scss */
#nirmala_top_header .active + li {
  box-shadow: none !important;
}
/* line 137, main.scss */
#nirmala_top_header .active:before {
  box-shadow: none !important;
}
/* line 139, main.scss */
#nirmala_top_header .active a {
  background-color: #533724;
}
/* line 143, main.scss */
#nirmala_top_header .active + li:before {
  box-shadow: none !important;
}
/* line 145, main.scss */
#nirmala_top_header .nav_footer {
  padding: 7px 36px;
  text-align: center;
  color: #a9714b;
  font-size: 13px;
  line-height: 1.1em;
}
/* line 148, main.scss */
#nirmala_top_header .navbar-nav > li {
  float: none;
}
/* line 151, main.scss */
#nirmala_top_header .navbar-nav > li a {
  font-family: 'Cinzel', serif;
  font-size: 14px;
  padding: 19px 0px 19px 81px;
  color: #fff;
  background-image: url("../img/icons/small-icon.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/small-icon.svg");
  background-repeat: no-repeat;
  background-position: 35px 20px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 164, main.scss */
#nirmala_top_header .navbar-nav > li a:hover {
  background-position: 50px 20px;
}
/* line 169, main.scss */
#nirmala_top_header .social {
  display: block;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: -6px;
}
/* line 171, main.scss */
#nirmala_top_header .social ul {
  padding: 0px;
  list-style: none;
  display: block;
  width: 117px;
  height: 21px;
  margin: 0 auto;
}
/* line 173, main.scss */
#nirmala_top_header .social ul .icon-social-facebook, #nirmala_top_header .social ul .icon-social-facebook\:regular {
  background-image: url("../img/icons/icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/icons.svg");
  background-position: 0 -165px;
  background-repeat: no-repeat;
}
/* line 174, main.scss */
#nirmala_top_header .social ul .icon-social-facebook-dims {
  width: 20px;
  height: 20px;
}
/* line 175, main.scss */
#nirmala_top_header .social ul .icon-social-google-plus, #nirmala_top_header .social ul .icon-social-google-plus\:regular {
  background-image: url("../img/icons/icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/icons.svg");
  background-position: 0 -185px;
  background-repeat: no-repeat;
}
/* line 176, main.scss */
#nirmala_top_header .social ul .icon-social-google-plus-dims {
  width: 20px;
  height: 20px;
}
/* line 177, main.scss */
#nirmala_top_header .social ul .icon-social-twitter, #nirmala_top_header .social ul .icon-social-twitter\:regular {
  background-image: url("../img/icons/icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/icons.svg");
  background-position: 0 -205px;
  background-repeat: no-repeat;
}
/* line 178, main.scss */
#nirmala_top_header .social ul .icon-social-twitter-dims {
  width: 20px;
  height: 20px;
}
/* line 181, main.scss */
#nirmala_top_header .social ul li {
  float: left;
  padding-right: 29px;
  display: block;
  height: 20px;
}

/* line 193, main.scss */
#enquery-box {
  border: 1px solid #c7c7c7;
  padding: 8px;
}
/* line 194, main.scss */
#enquery-box h4 {
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 24px;
}
/* line 195, main.scss */
#enquery-box label {
  font-size: 1.2em;
  font-family: 'Conv_Ubuntu-Light';
}
/* line 196, main.scss */
#enquery-box .form-group {
  margin-bottom: 6px !important;
}
/* line 197, main.scss */
#enquery-box .form-control {
  border-radius: 2px;
  height: 30px;
  padding-right: 25px;
}
/* line 197, main.scss */
#enquery-box .form-control:active, #enquery-box .form-control:focus {
  border-color: #C6C4C2;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.065), 0 0 8px rgba(89, 89, 89, 0.71);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.065), 0 0 8px rgba(89, 89, 89, 0.71);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.065), 0 0 8px rgba(89, 89, 89, 0.71);
}
/* line 198, main.scss */
#enquery-box .form-btn {
  text-align: right;
}
/* line 198, main.scss */
#enquery-box .form-btn .btn {
  background: #533724;
  color: #fff;
  border-radius: 1px;
  font-family: 'karbonregular';
  padding: 5px 10px;
  margin: 6px 0;
}

/* line 199, main.scss */
.contact-box-cont {
  margin-top: 46px !important;
}

/* line 200, main.scss */
.full-width-img {
  width: 100%;
  opacity: 0.5;
}

/* line 202, main.scss */
#homepage_content .welcome-para {
  text-align: center;
  font-size: 1.25em;
  color: #868686;
  font-family: 'Conv_Ubuntu-Light';
}
/* line 203, main.scss */
#homepage_content .about_us p {
  font-family: 'Conv_Ubuntu-Light';
  color: #868686;
  font-size: 1.22em;
}
/* line 204, main.scss */
#homepage_content .spacial-offer p {
  color: #868686;
  font-size: 1.35em;
}
/* line 204, main.scss */
#homepage_content .spacial-offer p span {
  text-transform: uppercase;
}
/* line 205, main.scss */
#homepage_content .icon-calendar1, #homepage_content .icon-calendar2, #homepage_content .icon-calendar3 {
  position: relative;
  display: block;
}
/* line 206, main.scss */
#homepage_content .icon-calendar1:after {
  position: absolute;
  right: 5px;
  top: 31px;
  content: "";
  display: block;
  width: 16px;
  height: 14px;
  background-image: url("../img/icons/icons.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
/* line 207, main.scss */
#homepage_content .icon-calendar2:after {
  position: absolute;
  right: 5px;
  top: 31px;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../img/icons/icons.svg");
  background-position: 0 -14px;
  background-repeat: no-repeat;
}
/* line 208, main.scss */
#homepage_content .icon-calendar3:after {
  position: absolute;
  right: 5px;
  top: 31px;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../img/icons/icons.svg");
  background-position: 0 -14px;
  background-repeat: no-repeat;
}
/* line 209, main.scss */
#homepage_content .logo-2 {
  text-align: center;
}
/* line 209, main.scss */
#homepage_content .logo-2 div {
  width: 82px;
  height: 85px;
  margin: 0 auto;
  position: relative;
}
/* line 209, main.scss */
#homepage_content .logo-2 div img {
  position: absolute;
  left: 0;
  top: -18px;
  z-index: 5;
}
/* line 211, main.scss */
#homepage_content h2 {
  margin-top: 0;
  font-size: 14px;
  text-align: center;
  padding: 0px 0px 0px 0px;
}
/* line 212, main.scss */
#homepage_content p {
  font-size: 14px;
  font-size: 14px;
  text-align: justify;
}
/* line 213, main.scss */
#homepage_content h1 {
  font-size: 30px;
  text-align: center;
  position: relative;
  width: 280px;
  border-bottom: 1px solid #838384;
  margin: 0 auto;
  margin-bottom: 31px;
}
/* line 214, main.scss */
#homepage_content h1:after {
  width: 1px;
  height: 10px;
  background-color: #c5916f;
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
}
/* line 217, main.scss */
#homepage_content .icon-magnifier {
  margin-left: 6px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/icons.svg");
  background-position: 0 -30px;
  background-repeat: no-repeat;
}
/* line 218, main.scss */
#homepage_content .icon-menu-round {
  margin-left: 60px;
  display: inline-block;
  width: 15px;
  height: 16px;
  background-image: url("../img/icons/icons.svg");
  background-position: 0 -45px;
  background-repeat: no-repeat;
}
/* line 220, main.scss */
#homepage_content .menu-slider .content-box {
  width: 100%;
  margin-top: 0;
  margin-bottom: 55px !important;
  padding: 0 23px;
}
/* line 221, main.scss */
#homepage_content .menu-slider .content-box .prev {
  position: absolute;
  top: 114px;
  z-index: 6;
  width: 36px;
  height: 36px;
  background: #6c2c00;
  border: none;
  color: #fff;
  font-size: 2.2em;
}
/* line 221, main.scss */
#homepage_content .menu-slider .content-box .prev:focus {
  border: none;
}
/* line 222, main.scss */
#homepage_content .menu-slider .content-box .next {
  position: absolute;
  top: 114px;
  right: 27px;
  z-index: 6;
  width: 36px;
  height: 36px;
  background: #6c2c00;
  border: none;
  color: #fff;
  font-size: 2.2em;
}
/* line 222, main.scss */
#homepage_content .menu-slider .content-box .next:focus {
  border: none;
}
/* line 223, main.scss */
#homepage_content .menu-slider .content-box h2 {
  margin: 0;
  margin-bottom: 25px;
}
/* line 225, main.scss */
#homepage_content .menu-slider .content-box #owl-demo .item {
  position: relative;
  max-width: 262px;
}
/* line 225, main.scss */
#homepage_content .menu-slider .content-box #owl-demo .item img {
  width: 100%;
}
/* line 225, main.scss */
#homepage_content .menu-slider .content-box #owl-demo .item .inner-slide-cont {
  position: absolute;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIgc3RvcC1vcGFjaXR5PSIwLjkxIi8+PHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiMyMjIyMjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC45MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(34, 34, 34, 0.91) 61%, #222222 80%, rgba(0, 0, 0, 0.91) 100%, #222222 100%);
  background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(34, 34, 34, 0.91) 61%, #222222 80%, rgba(0, 0, 0, 0.91) 100%, #222222 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(34, 34, 34, 0.91) 61%, #222222 80%, rgba(0, 0, 0, 0.91) 100%, #222222 100%);
  color: #fff;
  height: 50px;
  width: 262px;
  bottom: 0;
}
/* line 226, main.scss */
#homepage_content .menu-slider .content-box #owl-demo .item .inner-slide-cont h3 {
  text-transform: uppercase;
  margin-bottom: 0;
  border-bottom: 1px #fff dashed;
  margin: 2px 10px;
  font-family: 'karbonmedium';
}
/* line 227, main.scss */
#homepage_content .menu-slider .content-box #owl-demo .item .inner-slide-cont h5 {
  margin: 0 10px;
  font-family: 'karbonmedium';
}
/* line 232, main.scss */
#homepage_content .content-box {
  width: 280px;
  margin: 0 auto;
  margin-top: 90px;
  position: relative;
}
/* line 234, main.scss */
#homepage_content .content-box h2 {
  font-size: 1.5em;
  text-align: left;
  position: relative;
  width: 280px;
  border-bottom: 1px solid #838384;
  margin: 0 auto;
  margin-bottom: 23px;
  padding: 0px 0px 10px 10px;
  color: #000;
}
/* line 245, main.scss */
#homepage_content .content-box h2:after {
  width: 1px;
  height: 10px;
  background-color: #c5916f;
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
}
/* line 249, main.scss */
#homepage_content .content-box .seemore {
  height: 29px;
  width: 102px;
  background-color: #533724;
  display: block;
  text-align: center;
  line-height: 2.1em;
  color: #fff;
  font-size: 14px;
  float: right;
  text-decoration: none;
}
/* line 259, main.scss */
#homepage_content .content-box .inner-content {
  position: relative;
  overflow: hidden;
}
/* line 260, main.scss */
#homepage_content .content-box .special {
  position: absolute;
  text-align: right;
  background: rgba(69, 69, 69, 0.76);
  width: 265px;
  height: 195px;
  top: 0;
  right: -140px;
  overflow: hidden;
  -moz-transform: skew(-35deg);
  -ms-transform: skew(-35deg);
  -webkit-transform: skew(-35deg);
  transform: skew(-35deg);
}
/* line 268, main.scss */
#homepage_content .content-box .special h4, #homepage_content .content-box .special span, #homepage_content .content-box .special a {
  -moz-transform: skew(35deg);
  -ms-transform: skew(35deg);
  -webkit-transform: skew(35deg);
  transform: skew(35deg);
}
/* line 272, main.scss */
#homepage_content .content-box .special h4 {
  font-family: 'karbonmedium';
  font-size: 32px;
  width: 100px;
  color: #fff;
  margin: 0px;
  margin-top: 15px;
  position: absolute;
  bottom: 30px;
  left: 38px;
}
/* line 279, main.scss */
#homepage_content .content-box .special a {
  font-size: 17px;
  color: #b0b0b0;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 103px;
}

/* line 289, main.scss */
#header-img {
  height: 572px;
}
/* line 289, main.scss */
#header-img img {
  height: 572px;
}

@media (max-width: 1199px) {
  /* line 292, main.scss */
  #homepage_content .menu-slider .content-box #owl-demo .item {
    max-width: 212px;
  }
  /* line 293, main.scss */
  #homepage_content .menu-slider .content-box #owl-demo .item .inner-slide-cont {
    width: 213px;
  }
  /* line 293, main.scss */
  #homepage_content .menu-slider .content-box #owl-demo .item .inner-slide-cont .icon-menu-round {
    margin-left: 13px;
  }
}
@media (max-width: 1017px) {
  /* line 297, main.scss */
  .owl-item {
    width: 216px !important;
  }
}
/* ################################################ Nirmala footer styles ################################## */
/* line 302, main.scss */
footer {
  background-color: #855a3a;
  color: #fff;
  padding-top: 65px;
}
/* line 303, main.scss */
footer h5 {
  font-size: 2em;
  text-transform: uppercase;
}
/* line 304, main.scss */
footer p {
  font-size: 1.4em;
  padding-top: 10px;
}

/* line 306, main.scss */
.footer_contact_us ul {
  list-style: none;
  padding-left: 28px;
}
/* line 306, main.scss */
.footer_contact_us ul li {
  position: relative;
  font-size: 1.4em;
  line-height: 2em;
}

/* line 307, main.scss */
.stay_in_touch {
  padding-bottom: 25px;
}

/* line 308, main.scss */
.footer_list {
  padding-top: 10px;
  padding-left: 0;
}
/* line 309, main.scss */
.footer_list li a {
  color: #fff;
  display: block;
  font-size: 1.5em;
}

/* line 311, main.scss */
.copyright-cont img {
  float: right;
  margin-right: 18px;
}

/* line 312, main.scss */
.copyright {
  float: left;
  text-align: right;
  color: #cccccc;
}
/* line 312, main.scss */
.copyright a {
  color: #cccccc;
  font-size: 1.2em;
}
/* line 312, main.scss */
.copyright p {
  margin-top: 30px;
  font-size: 1.2em;
  max-width: 228px;
  margin-left: 18px;
}

/* line 313, main.scss */
.footer_our_services ul {
  padding-top: 10px;
  padding-left: 0;
}
/* line 313, main.scss */
.footer_our_services ul li {
  padding-left: 25px;
  display: block;
  background-position: 3px 8px;
  height: 33px;
  background-image: url("../img/icons/arrows.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/arrows.svg");
  background-repeat: no-repeat;
  list-style: none;
}
/* line 313, main.scss */
.footer_our_services ul li a {
  color: #fff;
  display: block;
  font-size: 1.5em;
}

/* line 314, main.scss */
.quick_links ul {
  padding-top: 10px;
  padding-left: 0;
}
/* line 314, main.scss */
.quick_links ul li {
  padding-left: 25px;
  display: block;
  background-position: 3px 8px;
  height: 33px;
  background-image: url("../img/icons/arrows.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/arrows.svg");
  background-repeat: no-repeat;
  list-style: none;
}
/* line 314, main.scss */
.quick_links ul li a {
  color: #fff;
  display: block;
  font-size: 1.5em;
}

/* line 315, main.scss */
.footer_btm_list {
  padding-top: 10px;
}
/* line 315, main.scss */
.footer_btm_list ul {
  padding-left: 0;
}
/* line 315, main.scss */
.footer_btm_list ul li {
  display: inline-block;
  /* font-size:1.2em */
  padding: 2px;
}
/* line 315, main.scss */
.footer_btm_list ul li a {
  color: #cccccc;
  font-size: 1.2em;
}

/* line 316, main.scss */
.icon-round-social-facebook {
  background-image: url("../img/icons/f-icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/f-icons.svg");
  background-position: 0 -102px;
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  display: block;
}

/* line 317, main.scss */
.icon-round-social-googleplus {
  background-image: url("../img/icons/f-icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/f-icons.svg");
  background-position: 0 -135px;
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  display: block;
}

/* line 318, main.scss */
.icon-round-social-twitter {
  background-image: url("../img/icons/f-icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/f-icons.svg");
  background-position: 0 -168px;
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  display: block;
}

/* line 319, main.scss */
.footer-text-box {
  width: 160px;
  margin-bottom: 5px;
  border: none;
  line-height: 1.6em;
  color: #000;
  font-size: 1.2em;
  padding: 3px 10px;
  margin-right: 4px;
  float: left;
}

/* line 320, main.scss */
.footer-button {
  color: #fff;
  font-size: 1.3em;
  background: #e7a016;
  border: none;
  font-family: 'karbon-medium';
  padding: 5px 18px;
}

/* line 321, main.scss */
.social {
  margin-top: 40px;
  padding: 0;
}
/* line 321, main.scss */
.social li {
  display: inline-block;
  padding-right: 8px;
}

/* line 324, main.scss */
#footer_row2 {
  padding-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 991px) and (min-width: 767px) {
  /* line 327, main.scss */
  .footer-button {
    margin-top: 5px;
    font-size: 1.2em;
    padding: 5px 15px;
  }
}
@media (max-width: 767px) {
  /* line 330, main.scss */
  footer {
    margin-top: 30px;
  }

  /* line 331, main.scss */
  .footer-button {
    margin-top: 0;
  }
}
/* line 337, main.scss */
#homepage_content #contact {
  margin-top: 60px;
}
/* line 339, main.scss */
#homepage_content #contact .contact-cont {
  padding-right: 35px;
  text-align: left;
}
/* line 339, main.scss */
#homepage_content #contact .contact-cont p {
  margin-top: 25px;
  font-family: 'Conv_Ubuntu-Light';
  color: #868686;
  font-size: 1.2em;
  font-weight: 200;
}
/* line 340, main.scss */
#homepage_content #contact .contact-cont h2 {
  margin-bottom: 15px;
  text-align: left;
  font-family: 'Conv_Ubuntu-Light';
  font-weight: 700;
  font-size: 1.8em;
  color: #000;
}
/* line 341, main.scss */
#homepage_content #contact .contact-cont .form-control {
  border-radius: 1px;
}
/* line 341, main.scss */
#homepage_content #contact .contact-cont .form-control:active, #homepage_content #contact .contact-cont .form-control:focus {
  border-color: #C6C4C2;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.065), 0 0 8px rgba(89, 89, 89, 0.71);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.065), 0 0 8px rgba(89, 89, 89, 0.71);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.065), 0 0 8px rgba(89, 89, 89, 0.71);
}
/* line 341, main.scss */
#homepage_content #contact .contact-cont label {
  margin-top: 10px;
  font-size: 1.2em;
  font-family: 'Conv_Ubuntu-Light';
  color: #868686;
}
/* line 343, main.scss */
#homepage_content #contact .get-in-touch .btn {
  width: 100%;
  display: block;
  border-radius: 1px;
  background: #854c25;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 100px;
  font-family: 'karbonregular';
}
/* line 344, main.scss */
#homepage_content #contact .contact-cont-2 {
  margin-top: 30px;
}
/* line 345, main.scss */
#homepage_content #contact .social {
  margin-top: 28px;
  padding: 0;
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  margin-left: 28px;
  padding: 0;
}
/* line 346, main.scss */
#homepage_content #contact .social li {
  display: inline-block;
  padding-right: 8px;
}

/* line 353, main.scss */
#reservation .reserve-para {
  font-family: 'Conv_Ubuntu-Light';
}
/* line 353, main.scss */
#reservation .reserve-para h4 {
  margin-bottom: 0;
  margin-top: 10px;
}
/* line 353, main.scss */
#reservation .reserve-para small {
  font-size: 1.25em;
  color: #b1b1b1;
}
/* line 353, main.scss */
#reservation .reserve-para p {
  font-size: 1.45em;
  line-height: 1.5em;
  color: #868686;
  margin-top: 15px;
}
/* line 354, main.scss */
#reservation .facilities {
  margin-left: 0 !important;
  width: 100%;
  margin-top: 60px;
}
/* line 354, main.scss */
#reservation .facilities h2 {
  margin-left: 0 !important;
}
/* line 355, main.scss */
#reservation .facilities-cont .icon-tick {
  color: #949494;
  position: relative;
  padding-left: 28px;
  font-size: 1.4em;
}
/* line 356, main.scss */
#reservation .facilities-cont .icon-tick:before {
  top: 7px;
  left: 7px;
  position: absolute;
  content: "";
  display: block;
  width: 12px;
  height: 10px;
  background-image: url("../img/icons/icons2.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/icons2.svg");
  background-position: 0 -60px;
  background-repeat: no-repeat;
}
/* line 357, main.scss */
#reservation .contact-box-cont {
  margin-top: 10px !important;
}
/* line 358, main.scss */
#reservation .res-offers {
  margin-top: 40px;
  margin-bottom: 28px;
}
/* line 358, main.scss */
#reservation .res-offers .row {
  padding-right: 20px;
  padding-left: 5px;
}
/* line 359, main.scss */
#reservation .res-offers .ofr-pic {
  padding-right: 0;
}
/* line 359, main.scss */
#reservation .res-offers .ofr-pic img {
  width: 100%;
}
/* line 360, main.scss */
#reservation .res-offers .ofr-details {
  background: url(../img/ofr-back.png) no-repeat;
  background-position: right;
  background-color: #db9a1c;
  color: #fff;
}
/* line 361, main.scss */
#reservation .res-offers .ofr-details h3 {
  float: left;
  font-family: karbonregular;
  font-size: 3.2em;
  margin: 7px 0px 0px -7px;
}
/* line 361, main.scss */
#reservation .res-offers .ofr-details span {
  display: block;
  margin-top: 26px;
  margin-left: 54px;
}
/* line 361, main.scss */
#reservation .res-offers .ofr-details h4 {
  float: inherit;
  margin: 0 0 0 -4px;
}
/* line 361, main.scss */
#reservation .res-offers .ofr-details a {
  display: block;
  margin-bottom: 3px;
  font-size: 1.2em;
  color: #fff;
  float: inherit;
  margin-top: 18px;
  margin-left: -73px;
}

/* line 365, main.scss */
.icon-black-social-facebook {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/icons2.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/icons2.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* line 366, main.scss */
.icon-black-social-google-plus {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/icons2.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/icons2.svg");
  background-position: 0 -20px;
  background-repeat: no-repeat;
}

/* line 367, main.scss */
.icon-black-social-twitter {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/icons2.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/icons2.svg");
  background-position: 0 -40px;
  background-repeat: no-repeat;
}

/* line 372, main.scss */
#sideNav {
  list-style: none;
  margin-top: 40px;
  padding-right: 100px;
  margin-bottom: 40px;
}
/* line 373, main.scss */
#sideNav li {
  line-height: 1.5em;
  line-height: 1.3em;
  border-bottom: 1px dotted #cccccc;
  padding-top: 10px;
}
/* line 374, main.scss */
#sideNav li a {
  -moz-transition: color 0.4s linear;
  -o-transition: color 0.4s linear;
  -webkit-transition: color 0.4s linear;
  transition: color 0.4s linear;
  font-size: 1.2em;
}
/* line 374, main.scss */
#sideNav li a:hover {
  color: #db9a1c !important;
  text-decoration: none;
}
/* line 374, main.scss */
#sideNav li a:focus {
  color: #db9a1c;
  text-decoration: none;
}
/* line 375, main.scss */
#sideNav li:nth-child(6) {
  border-bottom: none;
}

/* line 377, main.scss */
#booking-cont {
  height: 380px;
  margin-bottom: 90px;
}
/* line 378, main.scss */
#booking-cont h3 {
  font-family: 'Conv_Ubuntu-Light';
  font-size: 1.5em;
  float: left;
  margin-top: -10px;
  margin-right: 5px;
}
/* line 379, main.scss */
#booking-cont hr {
  margin-top: 50px;
  border-top: 1px solid #e0e0e0;
  margin-right: 20px;
}
/* line 380, main.scss */
#booking-cont .booking-img {
  -moz-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.22);
  box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  margin-top: 45px;
  margin-bottom: 20px;
}
/* line 380, main.scss */
#booking-cont .booking-img img {
  width: 100%;
}
/* line 381, main.scss */
#booking-cont .booking-img .bxslider {
  position: relative !important;
}
/* line 381, main.scss */
#booking-cont .booking-img .bxslider li {
  width: 100% !important;
}
/* line 382, main.scss */
#booking-cont .booking-img .bx-wrapper {
  margin-bottom: 0;
}
/* line 382, main.scss */
#booking-cont .booking-img .bx-wrapper .bx-viewport {
  height: 235px !important;
}
/* line 383, main.scss */
#booking-cont .booking-img .bx-wrapper .bx-controls-direction a {
  -moz-transition: color 0.4s linear;
  -o-transition: color 0.4s linear;
  -webkit-transition: color 0.4s linear;
  transition: color 0.4s linear;
  color: #e0e0e0;
  position: absolute;
  top: -23%;
  font-size: 2.5em;
  text-indent: 1px !important;
  width: 10px;
}
/* line 383, main.scss */
#booking-cont .booking-img .bx-wrapper .bx-controls-direction a:hover {
  color: #db9a1c;
}
/* line 384, main.scss */
#booking-cont .booking-img .bx-wrapper .bx-next {
  right: -8px;
}
/* line 385, main.scss */
#booking-cont .booking-img .bx-wrapper .bx-prev {
  right: 3px;
}
/* line 387, main.scss */
#booking-cont .booking-img .bx-pager {
  display: none;
}
/* line 389, main.scss */
#booking-cont .book-btn {
  background: #533724;
  color: #fff;
  padding: 10px 20px;
  display: block;
  font-size: 1.1em;
  font-family: 'karbonregular';
}

/* line 392, main.scss */
.active_target {
  color: #db9a1c;
}

/* line 393, main.scss */
.book-info {
  display: none;
}

/* line 394, main.scss */
.active_data {
  display: block;
}

/* line 395, main.scss */
.room-facilities-cont {
  margin-bottom: 50px;
}
/* line 396, main.scss */
.room-facilities-cont h5 {
  text-align: center;
  padding-top: 50px;
  font-family: 'Conv_Ubuntu-Light';
  color: #000;
  margin-bottom: 0px;
}
/* line 397, main.scss */
.room-facilities-cont p {
  text-align: center !important;
  color: #838384;
  font-family: 'karbonregular';
  font-size: 1.15em;
}

/* line 400, main.scss */
#cable-tv:before {
  top: 0px;
  left: 77px;
  position: absolute;
  display: block;
  content: "";
  background-image: url("../img/icons/booking-icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/booking-icons.svg");
  background-position: 0 -55px;
  background-repeat: no-repeat;
  width: 37px;
  height: 36px;
}

/* line 401, main.scss */
#wi-fi:before {
  top: 0px;
  left: 70px;
  position: absolute;
  display: block;
  content: "";
  background-image: url("../img/icons/booking-icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/booking-icons.svg");
  background-position: 0 -91px;
  background-repeat: no-repeat;
  width: 55px;
  height: 35px;
}

/* line 402, main.scss */
#air-condition:before {
  top: 15px;
  left: 76px;
  position: absolute;
  display: block;
  content: "";
  background-image: url("../img/icons/booking-icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/booking-icons.svg");
  background-position: 0 -29px;
  background-repeat: no-repeat;
  width: 40px;
  height: 26px;
}

/* line 403, main.scss */
#room-service:before {
  top: 8px;
  left: 80px;
  position: absolute;
  display: block;
  content: "";
  background-image: url("../img/icons/booking-icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/icons/booking-icons.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 32px;
  height: 29px;
}
