@import "compass/css3";
// Nimala hotels web fonts 
body{
 font-family: 'karbonregular';

}


@font-face {
	font-family: 'Conv_Ubuntu-Light';
	src: url('../fonts/Ubuntu-Light/Ubuntu-Light.eot');
	src: local('☺'), url('../fonts/Ubuntu-Light/Ubuntu-Light.woff') format('woff'), 
	url('../fonts/Ubuntu-Light/Ubuntu-Light.ttf') format('truetype'), 
	url('../fonts/Ubuntu-Light/Ubuntu-Light.svg') format('svg');
	font-style: normal;
}


@font-face {
    font-family: 'karbonregular';
    src: url('../fonts/karbon/karbon-regular-webfont.eot');
    src: url('../fonts/karbon/karbon-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karbon/karbon-regular-webfont.woff') format('woff'),
         url('../fonts/karbon/karbon-regular-webfont.ttf') format('truetype'),
         url('../fonts/karbon/karbon-regular-webfont.svg#karbonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'karbonmedium';
    src: url('../fonts/karbon_medium/karbon-medium-webfont.eot');
    src: url('../fonts/karbon_medium/karbon-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/karbon_medium/karbon-medium-webfont.woff2') format('woff2'),
         url('../fonts/karbon_medium/karbon-medium-webfont.woff') format('woff'),
         url('../fonts/karbon_medium/karbon-medium-webfont.ttf') format('truetype'),
         url('../fonts/karbon_medium/karbon-medium-webfont.svg#karbonmedium') format('svg');
        font-weight: normal;
        font-style: normal;

}

h1 , h2 , h3{

      font-family: 'Cinzel', serif;
}
/* @media (min-width: 1200px){
.container {
  width: 960px!important;
}
} */
#hideAll
 {
    text-align: center;
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: #fff;
   z-index: 111; /* Higher than anything else in the document */

 }
//loading svg styles========

.nirmala-load{svg{width:700px;height:900px;}}

.path {
  stroke-dasharray:1000 ;
  stroke-dashoffset: 100;
  -webkit-animation: dash 8s ease-in alternate ;
  -moz-animation: dash 8s ease-in alternate ;
  -oo-animation: dash 8s ease-in alternate ;
  animation: dash 8s ease-in alternate ;
}


@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-oo-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@media(max-width:676px){
  .nirmala-load{svg{width:300px;height:600px;}}
}
#nirmala_top_header{position: absolute;z-index: 100;background-color: #392315;width: 282px;height: 572px;border:none;

                    .navbar-header{float: none;text-align: center;margin: 14px 0px 54px 0px;}

                    #navbar{padding: 0px;}

                    .nav{width:100%;}

                    .home :after{content: "Welome";position: absolute;padding-left: 81px;z-index: 100;bottom: 0px;font-family: 'karbonregular';left: 0px; font-size: 10px;color: #868686;}

                    .booking :after{content: "Rates";position: absolute;padding-left: 81px;z-index: 100;bottom: 0px;font-family: 'karbonregular';left: 0px; font-size: 10px;color: #868686;}
                    .photo :after{content: "View our Functions";position: absolute;padding-left: 81px;z-index: 100;bottom: 0px;font-family: 'karbonregular';left: 0px; font-size: 10px;color: #868686;}
                    .reserve :after{content: "Get in Touch";position: absolute;padding-left: 81px;z-index: 100;bottom: 0px;font-family: 'karbonregular';left: 0px; font-size: 10px;color: #868686;}
                    .contact :after{content: "Rates and Renovations";position: absolute;padding-left: 81px;z-index: 100;bottom: 0px;font-family: 'karbonregular';left: 0px; font-size: 10px;color: #868686;}
                
                    .nav li:before{content:""; width: 100%;height: 1px;background-color: rgba(83, 54, 34, 0.42);position: absolute;box-shadow: 0px 0px 7px 1px #362114;}

                    .active {

                            &+ li{box-shadow: none !important;}

                            &:before{  box-shadow: none !important;}

                            a{background-color: #533724;}

                        }

                    .active + li:before{box-shadow: none !important;}
       
                    .nav_footer{padding: 7px 36px;text-align: center;color: #a9714b;font-size: 13px;line-height: 1.1em;}


                    .navbar-nav>li{
                    				float:none;

                    				a{
                    				font-family: 'Cinzel', serif;
                                    font-size: 14px;
                                    padding: 19px 0px 19px 81px;
                                    color: #fff;
                                    background-image: url("../img/icons/small-icon.png");
                                    background-image: linear-gradient(transparent, transparent),url("../img/icons/small-icon.svg");
                                    background-repeat: no-repeat;
                                    background-position: 35px 20px;
                                    @include transition-property(all);
                                    @include transition-duration(0.3s);
                                    @include transition-timing-function(ease-in);

                                    &:hover{background-position: 50px 20px;}

                    				}
                    			  }

            .social{display: block;text-align: center;width: 50%;margin: 0 auto;margin-top: -6px;

                    ul{  padding: 0px;list-style: none;display: block;width: 117px;height: 21px;margin: 0 auto;

                    .icon-social-facebook,.icon-social-facebook\:regular{background-image:url('../img/icons/icons.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/icons.svg');background-position:0 -165px;background-repeat:no-repeat}
                    .icon-social-facebook-dims{width:20px;height:20px}
                    .icon-social-google-plus,.icon-social-google-plus\:regular{background-image:url('../img/icons/icons.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/icons.svg');background-position:0 -185px;background-repeat:no-repeat}
                    .icon-social-google-plus-dims{width:20px;height:20px}
                    .icon-social-twitter,.icon-social-twitter\:regular{background-image:url('../img/icons/icons.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/icons.svg');background-position:0 -205px;background-repeat:no-repeat}
                    .icon-social-twitter-dims{width:20px;height:20px}

                    }
                    ul li {float: left;padding-right: 29px;display: block;height: 20px;}


                    }

}



// #################### home page after slider styles ########################


#enquery-box{border: 1px solid #c7c7c7;padding: 8px;
  h4{font-family:'Roboto Condensed', sans-serif;margin-bottom:24px;}
  label{font-size:1.2em;font-family:'Conv_Ubuntu-Light';}
  .form-group{margin-bottom: 6px!important;}
.form-control{border-radius:2px; height:30px;padding-right:25px;&:active,&:focus{border-color: #C6C4C2;;@include box-shadow(inset 0 1px 1px rgba(0,0,0,.065),0 0 8px rgba(89, 89, 89, 0.71))}}
.form-btn{text-align:right; .btn{background:#533724;color:#fff;border-radius: 1px;font-family:'karbonregular';padding: 5px 10px;margin: 6px 0;}}}
.contact-box-cont{margin-top: 46px!important;}
.full-width-img{width:100%;opacity: 0.5;}
#homepage_content{
        .welcome-para{text-align:center;font-size:1.25em;color:#868686;font-family:'Conv_Ubuntu-Light';}
        .about_us{p{font-family:'Conv_Ubuntu-Light';color:#868686;font-size:1.22em;}}
        .spacial-offer{p{color:#868686;font-size:1.35em; span{text-transform:uppercase;}}}
        .icon-calendar1,.icon-calendar2,.icon-calendar3{position:relative;display:block;}
        .icon-calendar1:after{position:absolute;right:5px;top:31px;content:"";display:block;width:16px;height:14px;background-image:url('../img/icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
        .icon-calendar2:after{position:absolute;right:5px;top:31px;content:"";display:block;width:16px;height:16px;background-image:url('../img/icons/icons.svg');background-position:0 -14px;background-repeat:no-repeat}
        .icon-calendar3:after{position:absolute;right:5px;top:31px;content:"";display:block;width:16px;height:16px;background-image:url('../img/icons/icons.svg');background-position:0 -14px;background-repeat:no-repeat}
        .logo-2{text-align:center; div{width:82px;height:85px;margin:0 auto;position:relative; img{position:absolute;left:0;top:-18px;z-index:5;}}}

        h2{margin-top:0; font-size: 14px;text-align: center;padding: 0px 0px 0px 0px;}
        p{font-size: 14px;  font-size: 14px;text-align: justify;}
        h1{font-size: 30px;text-align: center;position: relative;width: 280px;border-bottom: 1px solid #838384;  margin: 0 auto;margin-bottom: 31px;
           &:after{width: 1px;height: 10px;background-color: #c5916f;content: "";position: absolute;left: 0px;bottom: 0px;}
       }
        
        .icon-magnifier{margin-left: 6px;display:inline-block;width:15px;height:15px;background-image:url('../img/icons/icons.svg');background-position:0 -30px;background-repeat:no-repeat}
        .icon-menu-round{margin-left: 60px;display:inline-block;width:15px;height:16px;background-image:url('../img/icons/icons.svg');background-position:0 -45px;background-repeat:no-repeat}
        .menu-slider{
        .content-box{width: 100%;margin-top: 0;margin-bottom:55px!important;padding: 0 23px;
          .prev{position:absolute;top:114px;z-index:6;width: 36px;height: 36px;background: #6c2c00;border: none;color: #fff;font-size: 2.2em;&:focus{border:none;}}
          .next{position:absolute;top:114px;right:27px;z-index:6;width: 36px;height: 36px;background: #6c2c00;border: none;color: #fff;font-size: 2.2em;&:focus{border:none;}}
          h2{margin:0;margin-bottom: 25px;} 
        #owl-demo{
        .item{position:relative; max-width:262px; img{width:100%;} .inner-slide-cont{position:absolute; @include background(linear-gradient(180deg, rgba(255,255,255,0) 0, rgba(34,34,34,0.91) 61%, #222222 80%, rgba(0,0,0,0.91) 100%, #222222 100%));color:#fff;height:50px;width:262px;bottom:0;
          h3{text-transform:uppercase; margin-bottom:0;border-bottom:1px #fff dashed;margin: 2px 10px;font-family:'karbonmedium';}
          h5{margin:0 10px;font-family:'karbonmedium';}}}
        }
      }
        }

        .content-box{  width: 280px;  margin: 0 auto;  margin-top: 90px;  position: relative;

                     h2{  font-size: 1.5em;
                      text-align: left;
                      position: relative;
                      width: 280px;
                      border-bottom: 1px solid #838384;
                      margin: 0 auto;
                      margin-bottom: 23px;
                      padding: 0px 0px 10px 10px;
                      color:#000;


                      &:after{width: 1px;height: 10px;background-color: #c5916f;content: "";position: absolute;left: 0px;bottom: 0px;}
                    
                     }

                    .seemore{height: 29px;width: 102px;
                      background-color: #533724;
                      display: block;
                      text-align: center;
                      line-height: 2.1em;
                      color: #fff;
                      font-size: 14px;
                      float: right;
                      text-decoration: none;
                     }
                    .inner-content{position:relative;overflow:hidden;}
                    .special{ position:absolute;
                      text-align:right;                     
                      background:rgba(69, 69, 69, 0.76);
                      width: 265px;
                      height: 195px;
                      top:0; right:-140px;
                      overflow: hidden;
                      @include transform(  skew(-35deg));
                      h4,span,a {@include transform(  skew(35deg));}
 


                            h4{  font-family: 'karbonmedium';
                                 font-size: 32px;
                                 width: 100px;
                                 color: #fff;
                                 margin: 0px;
                                 margin-top: 15px; position: absolute;bottom: 30px;left: 38px;
                              }
                             a{font-size: 17px;
                               color: #b0b0b0;
                               display: block;
                               position: absolute;bottom: 10px;left: 103px;
                              }
                          }

}
}

#header-img{height:572px; img{height:572px;}}
//===========================media queries==========================
@media(max-width:1199px){
#homepage_content{.menu-slider {.content-box {#owl-demo{.item {max-width: 212px;
  .inner-slide-cont{width:213px; .icon-menu-round{margin-left:13px;}}}}}}
}
}
@media(max-width:1017px){
.owl-item{width: 216px!important;}
}

/* ################################################ Nirmala footer styles ################################## */

footer{background-color:#855a3a;color: #fff;padding-top:65px;
  h5{font-size: 2em;text-transform: uppercase;}
  p{font-size:1.4em;padding-top:10px;}
}
.footer_contact_us{ ul{list-style:none;padding-left:28px;; li{position:relative;font-size: 1.4em;line-height:2em;}}}
.stay_in_touch{padding-bottom:25px;}
.footer_list{padding-top:10px;padding-left:0;
  li{a{color:#fff;display:block;font-size:1.5em;}}
}
.copyright-cont{img{float:right;margin-right:18px;}}
.copyright{float:left; text-align:right;color:#cccccc;a{color:#cccccc; font-size:1.2em;} p{margin-top: 30px;font-size:1.2em;max-width:228px;margin-left: 18px;}}
.footer_our_services{ul{padding-top:10px;padding-left:0; li{padding-left: 25px;display:block; background-position: 3px 8px;height:33px;background-image:url('../img/icons/arrows.png');background-image:linear-gradient(transparent, transparent), url('../img/icons/arrows.svg');background-repeat:no-repeat;list-style: none; a{color:#fff;display:block;font-size:1.5em;}}}}
.quick_links{ul{padding-top:10px;padding-left:0; li{padding-left: 25px;display:block; background-position: 3px 8px;height:33px;background-image:url('../img/icons/arrows.png');background-image:linear-gradient(transparent, transparent), url('../img/icons/arrows.svg');background-repeat:no-repeat;list-style: none; a{color:#fff;display:block;font-size:1.5em;}}}}
.footer_btm_list{padding-top:10px; ul{padding-left:0; li{display:inline-block;/* font-size:1.2em */;padding:2px; a{color:#cccccc;font-size:1.2em;}}}}
.icon-round-social-facebook{background-image:url('../img/icons/f-icons.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/f-icons.svg');background-position:0 -102px;background-repeat:no-repeat;width:33px;height:33px;display:block;}
.icon-round-social-googleplus{background-image:url('../img/icons/f-icons.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/f-icons.svg');background-position:0 -135px;background-repeat:no-repeat;width:33px;height:33px;display:block;}
.icon-round-social-twitter{background-image:url('../img/icons/f-icons.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/f-icons.svg');background-position:0 -168px;background-repeat:no-repeat;width:33px;height:33px;display:block;}
.footer-text-box{width: 160px;margin-bottom: 5px;border: none;line-height: 1.6em;color: #000;font-size: 1.2em;padding: 3px 10px;margin-right: 4px;float: left;}
.footer-button{ color: #fff;font-size: 1.3em;background: #e7a016;border: none;font-family:'karbon-medium'; padding: 5px 18px;}
.social{margin-top:40px; padding:0; li{display:inline-block;padding-right: 8px;
}
}
#footer_row2{padding-top:30px;margin-bottom:30px;}

@media(max-width:991px ) and (min-width:767px){
  .footer-button{margin-top:5px; font-size: 1.2em;padding: 5px 15px;}
}
@media(max-width:767px){
  footer{margin-top:30px;}
  .footer-button{margin-top:0;}
}

// ################################# Hotel nirmala contact page style ########################################
#homepage_content{

#contact{margin-top:60px;

.contact-cont{padding-right:35px; text-align:left; p{margin-top:25px;font-family:'Conv_Ubuntu-Light';color:#868686;font-size:1.2em;font-weight:200;} 
  h2{margin-bottom:15px;text-align:left;font-family:'Conv_Ubuntu-Light';font-weight:700;font-size:1.8em;color:#000;}
.form-control{border-radius:1px;&:active,&:focus{border-color: #C6C4C2;;@include box-shadow(inset 0 1px 1px rgba(0,0,0,.065),0 0 8px rgba(89, 89, 89, 0.71))}} label{margin-top:10px;font-size:1.2em;font-family:'Conv_Ubuntu-Light';color: #868686;}
}
.get-in-touch{.btn{width:100%;display:block;border-radius:1px;background:#854c25;color:#fff;margin-top:30px;margin-bottom:100px;font-family:'karbonregular';}}
.contact-cont-2{margin-top:30px;}
.social{margin-top:28px; padding:0;@include transform(scale(1.4)); margin-left:28px;
 padding:0; li{display:inline-block;padding-right: 8px;}}
}
}

// ################################# Hotel nirmala reservation page style ########################################

#reservation{
.reserve-para{font-family:'Conv_Ubuntu-Light'; h4{margin-bottom: 0; margin-top: 10px;}small{font-size:1.25em;color:#b1b1b1;}p{font-size:1.45em;line-height: 1.5em;color:#868686;margin-top: 15px;}}
.facilities{margin-left:0!important;width:100%; margin-top:60px; h2{margin-left:0!important;}}
.facilities-cont{.icon-tick{color:#949494;position:relative;padding-left:28px;font-size:1.4em;}
.icon-tick:before{top:7px; left:7px;position:absolute;content:""; display:block; width:12px;height:10px;background-image:url('../img/icons/icons2.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/icons2.svg');background-position:0 -60px;background-repeat:no-repeat;}}
.contact-box-cont{margin-top:10px!important;}
.res-offers{margin-top: 40px;margin-bottom:28px; .row{padding-right:20px;padding-left:5px;}
  .ofr-pic{padding-right:0;img{width:100%;}}
  .ofr-details{background:url(../img/ofr-back.png)no-repeat;background-position: right;background-color:#db9a1c;color:#fff;
    h3{float:left;font-family:karbonregular; font-size: 3.2em;margin: 7px 0px 0px -7px;}span{display:block;margin-top:26px;margin-left:54px;}h4{ float: inherit;margin: 0 0 0 -4px;}a{display: block;  margin-bottom: 3px;font-size: 1.2em;color: #fff;float: inherit; margin-top: 18px;margin-left: -73px;}}
}
}

.icon-black-social-facebook{display:block;width:20px;height:20px;background-image:url('../img/icons/icons2.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/icons2.svg');background-position:0 0;background-repeat:no-repeat}
.icon-black-social-google-plus{display:block;width:20px;height:20px;background-image:url('../img/icons/icons2.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/icons2.svg');background-position:0 -20px;background-repeat:no-repeat}
.icon-black-social-twitter{display:block;width:20px;height:20px;background-image:url('../img/icons/icons2.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/icons2.svg');background-position:0 -40px;background-repeat:no-repeat}


//##########################################Hotel nirmala Booking page style##################################################

#sideNav{list-style:none;margin-top:40px;  padding-right: 100px; margin-bottom:40px;
  li{line-height:1.5em;line-height: 1.3em; border-bottom: 1px dotted #cccccc; padding-top: 10px;
    a{@include transition(color 0.4s linear); font-size:1.2em;&:hover{color:#db9a1c!important;text-decoration:none;} &:focus{color:#db9a1c;text-decoration:none;}}}
  li:nth-child(6){border-bottom:none;}
}
#booking-cont{height:380px;  margin-bottom: 90px;
  h3{font-family:'Conv_Ubuntu-Light';  font-size: 1.5em; float:left;  margin-top: -10px; margin-right: 5px;}
  hr{margin-top:50px;border-top: 1px solid #e0e0e0;  margin-right: 20px;}
  .booking-img{@include box-shadow(0 0 18px 1px rgba(0,0,0,0.22) );border-radius:5px; margin-top: 45px;margin-bottom:20px; img{width:100%;}
  .bxslider{position: relative!important; li{width:100%!important;}}
  .bx-wrapper{margin-bottom: 0; .bx-viewport{height:235px!important;}
    .bx-controls-direction {a {@include transition(color 0.4s linear); color:#e0e0e0; position: absolute; top: -23%; font-size: 2.5em;text-indent: 1px!important;  width: 10px; &:hover{color:#db9a1c;}}}
    .bx-next {  right: -8px;}
    .bx-prev {  right: 3px;}
    } 
    .bx-pager{display:none;}
}
  .book-btn{background: #533724;  color: #fff;  padding: 10px 20px;  display: block; font-size: 1.1em;font-family:'karbonregular';}
}

.active_target { color: #db9a1c;}
.book-info{display:none;}
.active_data{display:block;}
.room-facilities-cont{margin-bottom:50px;
  h5{text-align:center;padding-top:50px;font-family:'Conv_Ubuntu-Light'; color:#000;margin-bottom: 0px;}
  p{text-align:center!important;color:#838384;font-family:'karbonregular'; font-size: 1.15em;}
}

#cable-tv:before{  top: 0px; left: 77px;position:absolute;display:block;content:"";background-image:url('../img/icons/booking-icons.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/booking-icons.svg');background-position:0 -55px;background-repeat:no-repeat;width:37px;height:36px;}
#wi-fi:before{ top: 0px; left: 70px; position:absolute;display:block;content:"";background-image:url('../img/icons/booking-icons.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/booking-icons.svg');background-position:0 -91px;background-repeat:no-repeat;width:55px;height:35px;}
#air-condition:before{top: 15px;left: 76px;position:absolute;display:block;content:"";background-image:url('../img/icons/booking-icons.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/booking-icons.svg');background-position:0 -29px;background-repeat:no-repeat;width:40px;height:26px}
#room-service:before{  top: 8px;left: 80px;position:absolute;display:block;content:"";background-image:url('../img/icons/booking-icons.png');background-image:linear-gradient(transparent, transparent),url('../img/icons/booking-icons.svg');background-position:0 0;background-repeat:no-repeat;width:32px;height:29px;}